# Variáveis de Conexão com o Supabase (Frontend)
VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_KEY=sua-chave-publica-anon-aqui

# URL da API Backend
VITE_API_URL=http://localhost:8000/api/v1
VITE_APP_NAME=Edifica Soluções em Obras
